## Import libs

In [1]:
%pip install datefinder

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datefinder
  Downloading datefinder-0.7.1-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: regex>=2017.02.08 in /usr/local/lib/python3.7/dist-packages (from datefinder) (2019.12.20)
Requirement already satisfied: python-dateutil>=2.4.2 in /usr/local/lib/python3.7/dist-packages (from datefinder) (2.8.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datefinder) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4.2->datefinder) (1.15.0)
Installing collected packages: datefinder
Successfully installed datefinder-0.7.1

In [2]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import re
import datefinder

## Load data from Wikipedia

In [3]:
website = requests.get("https://en.wikipedia.org/wiki/List_of_Olympic_medalists_in_athletics_(women)")

soup = bs(website.content)

html = soup.prettify();

##  Fetch and clean data to store in Pandas DataFrame

In [4]:
final_rows = []
medalists_df = pd.DataFrame()
for index, value in enumerate(soup.select('h3')):
    table = value.find_next_sibling('table')
    tr_list = []
    if not table is None:
        '''
        Due to incoherent structures of tables,
        it is necessary to remove column names
        '''
        try:
            tr_list = table.find_all('tbody')[1].find_all('tr')
        except:
            tr_list = table.find_all('tbody')[0].find_all('tr')

    url = "https://en.wikipedia.org"
    row_list = []
    disc_column = value.get_text().replace('[edit]', '')

    '''
    Remove relay disciplines because this analysis aimed to individual records
    '''
    if 'relay' in disc_column:
        continue

    def has_numbers(input_string):
        input_string = input_string.find('a')
        if input_string is None:
            return False
        return any(char.isdigit() for char in input_string.get_text())

    def handle_blank(birthday):
        if not birthday:
            return 'No data'
        else:
            return birthday

    def has_vacants(entry):
        if 'Vacant' in entry.get_text():
            new_rows.append('none awarded')
            for i in range(2):
                new_rows.append('n/a')
            return True
    
    def has_non_awarded(entry):
        if not (entry.find('i') is None):
            new_rows.append('none awarded')
            return True

    def get_birthday(athlete):
        athlete = athlete.find('a')
        if not (athlete is None):
            if not (athlete.get('title') is None):
                if not (athlete.get_text()[0].isdigit()):
                    actual_url = url + athlete.get('href')
                    new_soup = requests.get(actual_url)
                    athlete_page = bs(new_soup.content)

                    '''
                    Cleaning out unneccessary html tags
                    '''
                    for tag in athlete_page.find_all(["sup", "span"]):
                        tag.decompose()
                    try:
                        '''
                        Date of birth is stored in the infobox on the right side of the page
                        '''
                        table_date = athlete_page.find('table', class_="infobox vcard").find('th', string='Born')
                        if not (table_date is None):
                            bday = table_date.find_next_sibling().get_text()
                            sep = '('
                            bday = bday.split(sep, 1)[0]
                            
                            '''
                            Wikipedia has a lot of incosistency between pages, thats why
                            external library is needed to commonize dates
                            '''
                            extracted = list(datefinder.find_dates(bday))
                            return extracted[0].strftime('%d-%m-%Y')
                    except:
                        return 'No data'


    for tr in tr_list:
        td = tr.find_all('td')

        entries = [e for e in td]

        '''
        To drop ex aequo medalists
        '''
        if len(entries) == 1:
            continue

        new_rows = [disc_column]
        for entry in entries:
            if has_vacants(entry) or has_non_awarded(entry):
                continue
            if not has_numbers(entry):
                '''
                To have seperate column for athlete name and her nationality
                '''
                splitted = entry.get_text().split("\xa0")
                new_rows.append(str(splitted[0]).strip())
                if len(splitted) > 1:
                    new_rows.append(str(splitted[1]).strip())
                else:
                    new_rows.append(entry.get_text)
                '''
                There is no date of birth in the main table so it is neccessary to
                open sub-webpage for each athlete and fetch it
                '''
                new_rows.append(handle_blank(get_birthday(entry)))
            elif str(entry.get_text())[0].isdigit():
                '''
                When column starts with digit it is always year of the games combined
                with city where it took place
                '''
                entry = str(entry.get_text())
                splitted = entry.split(' ', 1)
                new_rows.append(splitted[0])
                '''
                Neccessary cleaning of data
                '''
                new_rows.append(splitted[1].replace('details', '').strip())
            else:
                new_rows.append(entry.get_text())
        row_list.append(new_rows)
    '''
    Creating seperate DataFrame for each discipline and merging in each iteration
    '''
    df = pd.DataFrame(row_list)
    medalists_df = pd.concat([medalists_df, df])
    final_rows.append(row_list)
column_names = ['Discipline', 'Year of Games', 'Place of Games', 'Gold medalist', 'Country (Gold)',
                'Date of birth (Gold)', 'Silver medalist', 'Country (Silver)', 'Date of birth (Silver)',
                'Bronze medalist', 'Country (Bronze)', 'Date of birth (Bronze)']
medalists_df.columns = column_names

## Additional cleaning of DataFrame

In [5]:
medalists_df = medalists_df[medalists_df['Country (Gold)'].str.contains('included')==False]
medalists_df.replace(to_replace=[None], value='n/a', inplace=True)
medalists_df.head(10)

,Discipline,Year of Games,Place of Games,Gold medalist,Country (Gold),Date of birth (Gold),Silver medalist,Country (Silver),Date of birth (Silver),Bronze medalist,Country (Bronze),Date of birth (Bronze)
0,100 metres,1928,Amsterdam,Betty Robinson,United States,23-08-1911,Fanny Rosenfeld,Canada,28-12-1904,Ethel Smith,Canada,05-07-1907
1,100 metres,1932,Los Angeles,Stanisława Walasiewicz,Poland,03-04-1911,Hilda Strike,Canada,01-09-1910,Wilhelmina von Bremen,United States,13-08-1909
2,100 metres,1936,Berlin,Helen Stephens,United States,03-02-1918,Stanisława Walasiewicz,Poland,03-04-1911,Käthe Krauß,Germany,29-11-1906
3,100 metres,1948,London,Fanny Blankers-Koen,Netherlands,26-04-1918,Dorothy Manley,Great Britain,29-04-1927,Shirley Strickland,Australia,18-07-1925
4,100 metres,1952,Helsinki,Marjorie Jackson,Australia,13-09-1931,Daphne Hasenjager,South Africa,02-07-1929,Shirley Strickland de la Hunty,Australia,18-07-1925
5,100 metres,1956,Melbourne,Betty Cuthbert,Australia,20-04-1938,Christa Stubnick,United Team of Germany,12-12-1933,Marlene Matthews,Australia,14-07-1934
6,100 metres,1960,Rome,Wilma Rudolph,United States,23-06-1940,Dorothy Hyman,Great Britain,09-05-1941,Giuseppina Leone,Italy,21-12-1934
7,100 metres,1964,Tokyo,Wyomia Tyus,United States,29-08-1945,Edith McGuire,United States,03-06-1944,Ewa Kłobukowska,Poland,01-10-1946
8,100 metres,1968,Mexico City,Wyomia Tyus,United States,29-08-1945,Barbara Ferrell,United States,28-07-1947,Irena Szewińska,Poland,24-05-1946
9,100 metres,1972,Munich,Renate Stecher,East Germany,12-05-1950,Raelene Boyle,Australia,24-06-1951,Silvia Chivás,Cuba,10-09-1954

## Extend DataFrame with additional columns (age when awarded)

In [6]:
import numpy as np
import datetime
def extract_year(value):
    return int(value.split("-")[2].strip(" "))

medalists_df['Age (Gold)'] = medalists_df['Year of Games'].astype('int') - medalists_df['Date of birth (Gold)'].apply(lambda x: '0' if x == 'n/a' or x == 'No data' else f"{extract_year(x)}").astype('int')
medalists_df['Age (Silver)'] = medalists_df['Year of Games'].astype('int') - medalists_df['Date of birth (Silver)'].apply(lambda x: '0' if x == 'n/a' or x == 'No data' else f"{extract_year(x)}").astype('int')
medalists_df['Age (Bronze)'] = medalists_df['Year of Games'].astype('int') - medalists_df['Date of birth (Bronze)'].apply(lambda x: '0' if x == 'n/a' or x == 'No data' else f"{extract_year(x)}").astype('int')
medalists_df['Age (Gold)'] = medalists_df['Age (Gold)'].apply(lambda x: np.nan if x >1000 else x)
medalists_df['Age (Silver)'] = medalists_df['Age (Silver)'].apply(lambda x: np.nan if x >1000 else x)
medalists_df['Age (Bronze)'] = medalists_df['Age (Bronze)'].apply(lambda x: np.nan if x >1000 else x)
medalists_df = medalists_df[['Discipline', 'Year of Games', 'Place of Games', 'Gold medalist', 'Country (Gold)',
                'Date of birth (Gold)', 'Age (Gold)', 'Silver medalist', 'Country (Silver)', 'Date of birth (Silver)','Age (Silver)',
                'Bronze medalist', 'Country (Bronze)', 'Date of birth (Bronze)', 'Age (Bronze)']]
medalists_df.head(10)

,Discipline,Year of Games,Place of Games,Gold medalist,Country (Gold),Date of birth (Gold),Age (Gold),Silver medalist,Country (Silver),Date of birth (Silver),Age (Silver),Bronze medalist,Country (Bronze),Date of birth (Bronze),Age (Bronze)
0,100 metres,1928,Amsterdam,Betty Robinson,United States,23-08-1911,17.0,Fanny Rosenfeld,Canada,28-12-1904,24.0,Ethel Smith,Canada,05-07-1907,21.0
1,100 metres,1932,Los Angeles,Stanisława Walasiewicz,Poland,03-04-1911,21.0,Hilda Strike,Canada,01-09-1910,22.0,Wilhelmina von Bremen,United States,13-08-1909,23.0
2,100 metres,1936,Berlin,Helen Stephens,United States,03-02-1918,18.0,Stanisława Walasiewicz,Poland,03-04-1911,25.0,Käthe Krauß,Germany,29-11-1906,30.0
3,100 metres,1948,London,Fanny Blankers-Koen,Netherlands,26-04-1918,30.0,Dorothy Manley,Great Britain,29-04-1927,21.0,Shirley Strickland,Australia,18-07-1925,23.0
4,100 metres,1952,Helsinki,Marjorie Jackson,Australia,13-09-1931,21.0,Daphne Hasenjager,South Africa,02-07-1929,23.0,Shirley Strickland de la Hunty,Australia,18-07-1925,27.0
5,100 metres,1956,Melbourne,Betty Cuthbert,Australia,20-04-1938,18.0,Christa Stubnick,United Team of Germany,12-12-1933,23.0,Marlene Matthews,Australia,14-07-1934,22.0
6,100 metres,1960,Rome,Wilma Rudolph,United States,23-06-1940,20.0,Dorothy Hyman,Great Britain,09-05-1941,19.0,Giuseppina Leone,Italy,21-12-1934,26.0
7,100 metres,1964,Tokyo,Wyomia Tyus,United States,29-08-1945,19.0,Edith McGuire,United States,03-06-1944,20.0,Ewa Kłobukowska,Poland,01-10-1946,18.0
8,100 metres,1968,Mexico City,Wyomia Tyus,United States,29-08-1945,23.0,Barbara Ferrell,United States,28-07-1947,21.0,Irena Szewińska,Poland,24-05-1946,22.0
9,100 metres,1972,Munich,Renate Stecher,East Germany,12-05-1950,22.0,Raelene Boyle,Australia,24-06-1951,21.0,Silvia Chivás,Cuba,10-09-1954,18.0

## Export to csv

In [7]:
medalists_df.to_csv('medalists.csv', index=False)

## Export to json

In [14]:
import json
medalists = medalists_df.to_json(orient='split')
parsed = json.loads(medalists)
json.dumps(parsed, indent=4);

## Store data in Postgresql

In [9]:
%pip install sqlalchemy
%pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.36)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.11.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)

In [13]:
import psycopg2
from sqlalchemy import create_engine
  
  
conn_string = '****************'
  
db = create_engine(conn_string)
conn = db.connect()

medalists_df.to_sql('data', con=conn, if_exists='replace', index=False, method='multi')

conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()
  
sql1 = '''select * from data;'''
cursor.execute(sql1)
for i in cursor.fetchall():
    print(i)
  
conn.close()

('100 metres', '1928', 'Amsterdam', 'Betty Robinson', 'United States', '23-08-1911', 17.0, 'Fanny Rosenfeld', 'Canada', '28-12-1904', 24.0, 'Ethel Smith', 'Canada', '05-07-1907', 21.0)
('100 metres', '1932', 'Los Angeles', 'Stanisława Walasiewicz', 'Poland', '03-04-1911', 21.0, 'Hilda Strike', 'Canada', '01-09-1910', 22.0, 'Wilhelmina von Bremen', 'United States', '13-08-1909', 23.0)
('100 metres', '1936', 'Berlin', 'Helen Stephens', 'United States', '03-02-1918', 18.0, 'Stanisława Walasiewicz', 'Poland', '03-04-1911', 25.0, 'Käthe Krauß', 'Germany', '29-11-1906', 30.0)
('100 metres', '1948', 'London', 'Fanny Blankers-Koen', 'Netherlands', '26-04-1918', 30.0, 'Dorothy Manley', 'Great Britain', '29-04-1927', 21.0, 'Shirley Strickland', 'Australia', '18-07-1925', 23.0)
('100 metres', '1952', 'Helsinki', 'Marjorie Jackson', 'Australia', '13-09-1931', 21.0, 'Daphne Hasenjager', 'South Africa', '02-07-1929', 23.0, 'Shirley Strickland de la Hunty', 'Australia', '18-07-1925', 27.0)
('100 metres', '1956', 'Melbourne', 'Betty Cuthbert', 'Australia', '20-04-1938', 18.0, 'Christa Stubnick', 'United Team of Germany', '12-12-1933', 23.0, 'Marlene Matthews', 'Australia', '14-07-1934', 22.0)
('100 metres', '1960', 'Rome', 'Wilma Rudolph', 'United States', '23-06-1940', 20.0, 'Dorothy Hyman', 'Great Britain', '09-05-1941', 19.0, 'Giuseppina Leone', 'Italy', '21-12-1934', 26.0)
('100 metres', '1964', 'Tokyo', 'Wyomia Tyus', 'United States', '29-08-1945', 19.0, 'Edith McGuire', 'United States', '03-06-1944', 20.0, 'Ewa Kłobukowska', 'Poland', '01-10-1946', 18.0)
('100 metres', '1968', 'Mexico City', 'Wyomia Tyus', 'United States', '29-08-1945', 23.0, 'Barbara Ferrell', 'United States', '28-07-1947', 21.0, 'Irena Szewińska', 'Poland', '24-05-1946', 22.0)
('100 metres', '1972', 'Munich', 'Renate Stecher', 'East Germany', '12-05-1950', 22.0, 'Raelene Boyle', 'Australia', '24-06-1951', 21.0, 'Silvia Chivás', 'Cuba', '10-09-1954', 18.0)
('100 metres', '1976', 'Montreal', 'Annegret Richter', 'West Germany', '13-10-1950', 26.0, 'Renate Stecher', 'East Germany', '12-05-1950', 26.0, 'Inge Helten', 'West Germany', '31-12-1950', 26.0)
('100 metres', '1980', 'Moscow', 'Lyudmila Kondratyeva', 'Soviet Union', '11-04-1958', 22.0, 'Marlies Göhr', 'East Germany', '21-03-1958', 22.0, 'Ingrid Auerswald', 'East Germany', 'No data', None)
('100 metres', '1984', 'Los Angeles', 'Evelyn Ashford', 'United States', '15-04-1957', 27.0, 'Alice Brown', 'United States', '20-09-1960', 24.0, 'Merlene Ottey', 'Jamaica', '10-05-1960', 24.0)
('100 metres', '1988', 'Seoul', 'Florence Griffith-Joyner', 'United States', '21-12-1959', 29.0, 'Evelyn Ashford', 'United States', '15-04-1957', 31.0, 'Heike Drechsler', 'East Germany', '16-12-1964', 24.0)
('100 metres', '1992', 'Barcelona', 'Gail Devers', 'United States', '19-11-1966', 26.0, 'Juliet Cuthbert', 'Jamaica', '09-04-1964', 28.0, 'Irina Privalova', 'Unified Team', '22-11-1968', 24.0)
('100 metres', '1996', 'Atlanta', 'Gail Devers', 'United States', '19-11-1966', 30.0, 'Merlene Ottey', 'Jamaica', '10-05-1960', 36.0, 'Gwen Torrence', 'United States', '12-06-1965', 31.0)
('100 metres', '2000', 'Sydney', 'none awarded', 'n/a', 'n/a', None, 'Ekaterini Thanou', 'Greece', '01-02-1975', 25.0, 'Merlene Ottey', 'Jamaica', '10-05-1960', 40.0)
('100 metres', '2004', 'Athens', 'Yulia Nestsiarenka', 'Belarus', '15-06-1979', 25.0, 'Lauryn Williams', 'United States', 'No data', None, 'Veronica Campbell', 'Jamaica', '15-05-1982', 22.0)
('100 metres', '2008', 'Beijing', 'Shelly-Ann Fraser', 'Jamaica', '27-12-1986', 22.0, 'Sherone Simpson', 'Jamaica', '12-08-1984', 24.0, 'none awarded', 'n/a', 'n/a', None)
('100 metres', '2012', 'London', 'Shelly-Ann Fraser-Pryce', 'Jamaica', '27-12-1986', 26.0, 'Carmelita Jeter', 'United States', '24-11-1979', 33.0, 'Veronica Campbell-Brown', 'Jamaica', '15-05-1982', 30.0)
('100 metres', '2016', 'Rio de Janeiro', 'Elaine Thompson', 'Jamaica', '28-06-1992', 24.0, 'Tori Bowie', 'United States', '27-08-1990', 26.0, 'Shelly-Ann Fraser-Pryce', 'Jamaica', '27-12-1986', 30.0)
('100 metres', '2020', 'Tokyo', 'Elaine Thompson-Herah', 'Jamaica', '28-06-1992', 28.0, 'Shelly-Ann Fraser-Pryce', 'Jamaica', '27-12-1986', 34.0, 'Shericka Jackson', 'Jamaica', '16-07-1994', 26.0)
('200 metres', '1948', 'London', 'Fanny Blankers-Koen', 'Netherlands', '26-04-1918', 30.0, 'Audrey Williamson', 'Great Britain', 'No data', None, 'Audrey Patterson', 'United States', 'No data', None)
('200 metres', '1952', 'Helsinki', 'Marjorie Jackson', 'Australia', '13-09-1931', 21.0, 'Bertha Brouwer', 'Netherlands', '29-10-1930', 22.0, 'Nadezhda Khnykina-Dvalishvili', 'Soviet Union', 'No data', None)
('200 metres', '1956', 'Melbourne', 'Betty Cuthbert', 'Australia', '20-04-1938', 18.0, 'Christa Stubnick', 'United Team of Germany', '12-12-1933', 23.0, 'Marlene Mathews', 'Australia', '14-07-1934', 22.0)
('200 metres', '1960', 'Rome', 'Wilma Rudolph', 'United States', '23-06-1940', 20.0, 'Jutta Heine', 'United Team of Germany', '16-09-1940', 20.0, 'Dorothy Hyman', 'Great Britain', '09-05-1941', 19.0)
('200 metres', '1964', 'Tokyo', 'Edith McGuire', 'United States', '03-06-1944', 20.0, 'Irena Kirszenstein', 'Poland', '24-05-1946', 18.0, 'Marilyn Black', 'Australia', 'No data', None)
('200 metres', '1968', 'Mexico City', 'Irena Szewińska', 'Poland', '24-05-1946', 22.0, 'Raelene Boyle', 'Australia', '24-06-1951', 17.0, 'Jenny Lamy', 'Australia', 'No data', None)
('200 metres', '1972', 'Munich', 'Renate Stecher', 'East Germany', '12-05-1950', 22.0, 'Raelene Boyle', 'Australia', '24-06-1951', 21.0, 'Irena Szewińska', 'Poland', '24-05-1946', 26.0)
('200 metres', '1976', 'Montreal', 'Bärbel Eckert', 'East Germany', 'No data', None, 'Annegret Richter', 'West Germany', '13-10-1950', 26.0, 'Renate Stecher', 'East Germany', '12-05-1950', 26.0)
('200 metres', '1980', 'Moscow', 'Bärbel Wöckel', 'East Germany', 'No data', None, 'Natalya Bochina', 'Soviet Union', '04-01-1962', 18.0, 'Merlene Ottey', 'Jamaica', '10-05-1960', 20.0)
('200 metres', '1984', 'Los Angeles', 'Valerie Brisco-Hooks', 'United States', '06-07-1960', 24.0, 'Florence Griffith', 'United States', '21-12-1959', 25.0, 'Merlene Ottey', 'Jamaica', '10-05-1960', 24.0)
('200 metres', '1988', 'Seoul', 'Florence Griffith-Joyner', 'United States', '21-12-1959', 29.0, 'Grace Jackson', 'Jamaica', 'No data', None, 'Heike Drechsler', 'East Germany', '16-12-1964', 24.0)
('200 metres', '1992', 'Barcelona', 'Gwen Torrence', 'United States', '12-06-1965', 27.0, 'Juliet Cuthbert', 'Jamaica', '09-04-1964', 28.0, 'Merlene Ottey', 'Jamaica', '10-05-1960', 32.0)
('200 metres', '1996', 'Atlanta', 'Marie-José Pérec', 'France', '09-05-1968', 28.0, 'Merlene Ottey', 'Jamaica', '10-05-1960', 36.0, 'Mary Onyali', 'Nigeria', '03-02-1968', 28.0)
('200 metres', '2000', 'Sydney', 'Pauline Davis-Thompson', 'Bahamas', '09-07-1966', 34.0, 'Susanthika Jayasinghe', 'Sri Lanka', '17-12-1975', 25.0, 'Beverly McDonald', 'Jamaica', 'No data', None)
('200 metres', '2004', 'Athens', 'Veronica Campbell', 'Jamaica', '15-05-1982', 22.0, 'Allyson Felix', 'United States', '18-11-1985', 19.0, 'Debbie Ferguson', 'Bahamas', 'No data', None)
('200 metres', '2008', 'Beijing', 'Veronica Campbell-Brown', 'Jamaica', '15-05-1982', 26.0, 'Allyson Felix', 'United States', '18-11-1985', 23.0, 'Kerron Stewart', 'Jamaica', 'No data', None)
('200 metres', '2012', 'London', 'Allyson Felix', 'United States', '18-11-1985', 27.0, 'Shelly-Ann Fraser-Pryce', 'Jamaica', '27-12-1986', 26.0, 'Carmelita Jeter', 'United States', '24-11-1979', 33.0)
('200 metres', '2016', 'Rio de Janeiro', 'Elaine Thompson', 'Jamaica', '28-06-1992', 24.0, 'Dafne Schippers', 'Netherlands', '15-06-1992', 24.0, 'Tori Bowie', 'United States', '27-08-1990', 26.0)
('200 metres', '2020', 'Tokyo', 'Elaine Thompson-Herah', 'Jamaica', '28-06-1992', 28.0, 'Christine Mboma', 'Namibia', '22-05-2003', 17.0, 'Gabrielle Thomas', 'United States', '07-12-1996', 24.0)
('400 metres', '1964', 'Tokyo', 'Betty Cuthbert', 'Australia', '20-04-1938', 26.0, 'Ann Packer', 'Great Britain', '08-03-1942', 22.0, 'Judy Amoore', 'Australia', '25-06-1940', 24.0)
('400 metres', '1968', 'Mexico City', 'Colette Besson', 'France', '07-04-1946', 22.0, 'Lillian Board', 'Great Britain', '13-12-1948', 20.0, 'Natalya Pechonkina', 'Soviet Union', 'No data', None)
('400 metres', '1972', 'Munich', 'Monika Zehrt', 'East Germany', '29-09-1952', 20.0, 'Rita Wilden', 'West Germany', '09-10-1947', 25.0, 'Kathy Hammond', 'United States', '02-11-1951', 21.0)
('400 metres', '1976', 'Montreal', 'Irena Szewińska', 'Poland', '24-05-1946', 30.0, 'Christina Brehmer', 'East Germany', '28-02-1958', 18.0, 'Ellen Streidt', 'East Germany', 'No data', None)
('400 metres', '1980', 'Moscow', 'Marita Koch', 'East Germany', '18-02-1957', 23.0, 'Jarmila Kratochvílová', 'Czechoslovakia', 'No data', None, 'Christina Lathan', 'East Germany', '28-02-1958', 22.0)
('400 metres', '1984', 'Los Angeles', 'Valerie Brisco-Hooks', 'United States', '06-07-1960', 24.0, 'Chandra Cheeseborough', 'United States', '10-01-1959', 25.0, 'Kathy Smallwood-Cook', 'Great Britain', 'No data', None)
('400 metres', '1988', 'Seoul', 'Olga Bryzgina', 'Soviet Union', '30-06-1963', 25.0, 'Petra Müller', 'East Germany', 'No data', None, 'Olga Nazarova', 'Soviet Union', 'No data', None)
('400 metres', '1992', 'Barcelona', 'Marie-José Pérec', 'France', '09-05-1968', 24.0, 'Olga Bryzgina', 'Unified Team', '30-06-1963', 29.0, 'Ximena Restrepo', 'Colombia', '10-03-1969', 23.0)
('400 metres', '1996', 'Atlanta', 'Marie-José Pérec', 'France', '09-05-1968', 28.0, 'Cathy Freeman', 'Australia', '16-02-1973', 23.0, 'Falilat Ogunkoya', 'Nigeria', '05-12-1968', 28.0)
('400 metres', '2000', 'Sydney', 'Cathy Freeman', 'Australia', '16-02-1973', 27.0, 'Lorraine Graham', 'Jamaica', '08-09-1973', 27.0, 'Katharine Merry', 'Great Britain', '21-09-1974', 26.0)
('400 metres', '2004', 'Athens', 'Tonique Williams-Darling', 'Bahamas', 'No data', None, 'Ana Guevara', 'Mexico', '04-03-1977', 27.0, 'Natalya Antyukh', 'Russia', '26-06-1981', 23.0)
('400 metres', '2008', 'Beijing', 'Christine Ohuruogu', 'Great Britain', '17-05-1984', 24.0, 'Shericka Williams', 'Jamaica', '17-09-1985', 23.0, 'Sanya Richards', 'United States', '26-02-1985', 23.0)
('400 metres', '2012', 'London', 'Sanya Richards-Ross', 'United States', '26-02-1985', 27.0, 'Christine Ohuruogu', 'Great Britain', '17-05-1984', 28.0, 'DeeDee Trotter', 'United States', '08-12-1982', 30.0)
('400 metres', '2016', 'Rio de Janeiro', 'Shaunae Miller', 'Bahamas', '15-04-1994', 22.0, 'Allyson Felix', 'United States', '18-11-1985', 31.0, 'Shericka Jackson', 'Jamaica', '16-07-1994', 22.0)
('400 metres', '2020', 'Tokyo', 'Shaunae Miller-Uibo', 'Bahamas', '15-04-1994', 26.0, 'Marileidy Paulino', 'Dominican Republic', '25-10-1996', 24.0, 'Allyson Felix', 'United States', '18-11-1985', 35.0)
('800 metres', '1928', 'Amsterdam', 'Lina Radke', 'Germany', '18-10-1903', 25.0, 'Kinuye Hitomi', 'Japan', '01-01-1907', 21.0, 'Inga Gentzel', 'Sweden', '24-04-1908', 20.0)
('800 metres', '1960', 'Rome', 'Lyudmila Shevtsova', 'Soviet Union', '26-11-1934', 26.0, 'Brenda Jones', 'Australia', '17-11-1936', 24.0, 'Ursula Donath', 'United Team of Germany', 'No data', None)
('800 metres', '1964', 'Tokyo', 'Ann Packer', 'Great Britain', '08-03-1942', 22.0, 'Maryvonne Dupureur', 'France', '24-05-1937', 27.0, 'Marise Chamberlain', 'New Zealand', '05-12-1935', 29.0)
('800 metres', '1968', 'Mexico City', 'Madeline Manning', 'United States', '11-01-1948', 20.0, 'Ilona Silai', 'Romania', '14-10-1941', 27.0, 'Mia Gommers', 'Netherlands', '26-09-1939', 29.0)
('800 metres', '1972', 'Munich', 'Hildegard Falck', 'West Germany', '08-06-1949', 23.0, 'Nijolė Sabaitė', 'Soviet Union', 'No data', None, 'Gunhild Hoffmeister', 'East Germany', '06-07-1944', 28.0)
('800 metres', '1976', 'Montreal', 'Tatyana Kazankina', 'Soviet Union', 'No data', None, 'Nikolina Shtereva', 'Bulgaria', 'No data', None, 'Elfi Zinn', 'East Germany', 'No data', None)
('800 metres', '1980', 'Moscow', 'Nadiya Olizarenko', 'Soviet Union', '28-11-1953', 27.0, 'Olga Mineyeva', 'Soviet Union', '01-09-1952', 28.0, 'Tatyana Providokhina', 'Soviet Union', '26-03-1953', 27.0)
('800 metres', '1984', 'Los Angeles', 'Doina Melinte', 'Romania', '27-12-1956', 28.0, 'Kim Gallagher', 'United States', '11-06-1964', 20.0, 'Fiţa Lovin', 'Romania', '14-01-1951', 33.0)
('800 metres', '1988', 'Seoul', 'Sigrun Wodars', 'East Germany', 'No data', None, 'Christine Wachtel', 'East Germany', 'No data', None, 'Kim Gallagher', 'United States', '11-06-1964', 24.0)
('800 metres', '1992', 'Barcelona', 'Ellen van Langen', 'Netherlands', '09-02-1966', 26.0, 'Liliya Nurutdinova', 'Unified Team', 'No data', None, 'Ana Fidelia Quirot', 'Cuba', '23-03-1963', 29.0)
('800 metres', '1996', 'Atlanta', 'Svetlana Masterkova', 'Russia', '17-01-1968', 28.0, 'Ana Fidelia Quirot', 'Cuba', '23-03-1963', 33.0, 'Maria Mutola', 'Mozambique', '27-10-1972', 24.0)
('800 metres', '2000', 'Sydney', 'Maria Mutola', 'Mozambique', '27-10-1972', 28.0, 'Stephanie Graf', 'Austria', 'No data', None, 'Kelly Holmes', 'Great Britain', '19-04-1970', 30.0)
('800 metres', '2004', 'Athens', 'Kelly Holmes', 'Great Britain', '19-04-1970', 34.0, 'Hasna Benhassi', 'Morocco', '01-06-1978', 26.0, 'Jolanda Čeplak', 'Slovenia', 'No data', None)
('800 metres', '2008', 'Beijing', 'Pamela Jelimo', 'Kenya', '05-12-1989', 19.0, 'Janeth Jepkosgei', 'Kenya', '13-12-1983', 25.0, 'Hasna Benhassi', 'Morocco', '01-06-1978', 30.0)
('800 metres', '2012', 'London', 'Caster Semenya', 'South Africa[2]', '07-01-1991', 21.0, 'Ekaterina Poistogova', 'Russia', '01-03-1991', 21.0, 'Pamela Jelimo', 'Kenya', '05-12-1989', 23.0)
('800 metres', '2016', 'Rio de Janeiro', 'Caster Semenya', 'South Africa', '07-01-1991', 25.0, 'Francine Niyonsaba', 'Burundi', '05-05-1993', 23.0, 'Margaret Wambui', 'Kenya', '15-09-1995', 21.0)
('800 metres', '2020', 'Tokyo', 'Athing Mu', 'United States', '08-06-2002', 18.0, 'Keely Hodgkinson', 'Great Britain', '03-03-2002', 18.0, 'Raevyn Rogers', 'United States', '07-09-1996', 24.0)
('1500 metres', '1972', 'Munich', 'Lyudmila Bragina', 'Soviet Union', '24-07-1943', 29.0, 'Gunhild Hoffmeister', 'East Germany', '06-07-1944', 28.0, 'Paola Pigni', 'Italy', '30-12-1945', 27.0)
('1500 metres', '1976', 'Montreal', 'Tatyana Kazankina', 'Soviet Union', 'No data', None, 'Gunhild Hoffmeister', 'East Germany', '06-07-1944', 32.0, 'Ulrike Klapezynski', 'East Germany', 'No data', None)
('1500 metres', '1980', 'Moscow', 'Tatyana Kazankina', 'Soviet Union', 'No data', None, 'Christiane Wartenberg', 'East Germany', 'No data', None, 'Nadiya Olizarenko', 'Soviet Union', '28-11-1953', 27.0)
('1500 metres', '1984', 'Los Angeles', 'Gabriella Dorio', 'Italy', '27-06-1957', 27.0, 'Doina Melinte', 'Romania', '27-12-1956', 28.0, 'Maricica Puică', 'Romania', '29-07-1950', 34.0)
('1500 metres', '1988', 'Seoul', 'Paula Ivan', 'Romania', '20-07-1963', 25.0, 'Laimutė Baikauskaitė', 'Soviet Union', 'No data', None, 'Tetyana Samolenko', 'Soviet Union', '12-08-1961', 27.0)
('1500 metres', '1992', 'Barcelona', 'Hassiba Boulmerka', 'Algeria', 'No data', None, 'Lyudmila Rogachova', 'Unified Team', 'No data', None, 'Qu Yunxia', 'China', '25-12-1972', 20.0)
('1500 metres', '1996', 'Atlanta', 'Svetlana Masterkova', 'Russia', '17-01-1968', 28.0, 'Gabriela Szabo', 'Romania', '14-11-1975', 21.0, 'Theresia Kiesl', 'Austria', 'No data', None)
('1500 metres', '2000', 'Sydney', 'Nouria Mérah-Benida', 'Algeria', '19-10-1970', 30.0, 'Violeta Szekely', 'Romania', 'No data', None, 'Gabriela Szabo', 'Romania', '14-11-1975', 25.0)
('1500 metres', '2004', 'Athens', 'Kelly Holmes', 'Great Britain', '19-04-1970', 34.0, 'Tatyana Tomashova', 'Russia', 'No data', None, 'Maria Cioncan', 'Romania', 'No data', None)
('1500 metres', '2008', 'Beijing', 'Nancy Langat', 'Kenya', '22-08-1981', 27.0, 'Iryna Lishchynska', 'Ukraine', 'No data', None, 'Nataliya Tobias', 'Ukraine', 'No data', None)
('1500 metres', '2012', 'London', 'Maryam Yusuf Jamal', 'Bahrain[3]', 'No data', None, 'Tatyana Tomashova', 'Russia', 'No data', None, 'Abeba Aregawi', 'Ethiopia', '05-07-1990', 22.0)
('1500 metres', '2016', 'Rio de Janeiro', 'Faith Kipyegon', 'Kenya', '10-01-1994', 22.0, 'Genzebe Dibaba', 'Ethiopia', '08-02-1991', 25.0, 'Jennifer Simpson', 'United States', '23-08-1986', 30.0)
('1500 metres', '2020', 'Tokyo', 'Faith Kipyegon', 'Kenya', '10-01-1994', 26.0, 'Laura Muir', 'Great Britain', '09-05-1993', 27.0, 'Sifan Hassan', 'Netherlands', '01-01-1993', 27.0)
('5000 metres', '1996', 'Atlanta', 'Wang Junxia', 'China', '19-01-1973', 23.0, 'Pauline Konga', 'Kenya', 'No data', None, 'Roberta Brunet', 'Italy', '20-05-1965', 31.0)
('5000 metres', '2000', 'Sydney', 'Gabriela Szabo', 'Romania', '14-11-1975', 25.0, "Sonia O'Sullivan", 'Ireland', '28-11-1969', 31.0, 'Gete Wami', 'Ethiopia', 'No data', None)
('5000 metres', '2004', 'Athens', 'Meseret Defar', 'Ethiopia', '19-11-1983', 21.0, 'Isabella Ochichi', 'Kenya', 'No data', None, 'Tirunesh Dibaba', 'Ethiopia', '01-06-1985', 19.0)
('5000 metres', '2008', 'Beijing', 'Tirunesh Dibaba', 'Ethiopia', '01-06-1985', 23.0, 'Meseret Defar', 'Ethiopia', '19-11-1983', 25.0, 'Sylvia Kibet', 'Kenya', 'No data', None)
('5000 metres', '2012', 'London', 'Meseret Defar', 'Ethiopia', '19-11-1983', 29.0, 'Vivian Cheruiyot', 'Kenya', '11-09-1983', 29.0, 'Tirunesh Dibaba', 'Ethiopia', '01-06-1985', 27.0)
('5000 metres', '2016', 'Rio de Janeiro', 'Vivian Cheruiyot', 'Kenya', '11-09-1983', 33.0, 'Hellen Obiri', 'Kenya', '13-12-1989', 27.0, 'Almaz Ayana', 'Ethiopia', '21-11-1991', 25.0)
('5000 metres', '2020', 'Tokyo', 'Sifan Hassan', 'Netherlands', '01-01-1993', 27.0, 'Hellen Obiri', 'Kenya', '13-12-1989', 31.0, 'Gudaf Tsegay', 'Ethiopia', '23-01-1997', 23.0)
('10,000 metres', '1988', 'Seoul', 'Olga Bondarenko', 'Soviet Union', 'No data', None, 'Liz McColgan', 'Great Britain', '24-05-1964', 24.0, 'Yelena Zhupiyeva-Vyazova', 'Soviet Union', 'No data', None)
('10,000 metres', '1992', 'Barcelona', 'Derartu Tulu', 'Ethiopia', '21-03-1972', 20.0, 'Elana Meyer', 'South Africa', 'No data', None, 'Lynn Jennings', 'United States', '01-07-1960', 32.0)
('10,000 metres', '1996', 'Atlanta', 'Fernanda Ribeiro', 'Portugal', '23-06-1969', 27.0, 'Wang Junxia', 'China', '19-01-1973', 23.0, 'Gete Wami', 'Ethiopia', 'No data', None)
('10,000 metres', '2000', 'Sydney', 'Derartu Tulu', 'Ethiopia', '21-03-1972', 28.0, 'Gete Wami', 'Ethiopia', 'No data', None, 'Fernanda Ribeiro', 'Portugal', '23-06-1969', 31.0)
('10,000 metres', '2004', 'Athens', 'Xing Huina', 'China', 'No data', None, 'Ejagayehu Dibaba', 'Ethiopia', 'No data', None, 'Derartu Tulu', 'Ethiopia', '21-03-1972', 32.0)
('10,000 metres', '2008', 'Beijing', 'Tirunesh Dibaba', 'Ethiopia', '01-06-1985', 23.0, 'Shalane Flanagan', 'United States', '08-07-1981', 27.0, 'Linet Chepkwemoi Masai', 'Kenya', '05-12-1989', 19.0)
('10,000 metres', '2012', 'London', 'Tirunesh Dibaba', 'Ethiopia', '01-06-1985', 27.0, 'Sally Kipyego', 'Kenya', '19-12-1985', 27.0, 'Vivian Cheruiyot', 'Kenya', '11-09-1983', 29.0)
('10,000 metres', '2016', 'Rio de Janeiro', 'Almaz Ayana', 'Ethiopia', '21-11-1991', 25.0, 'Vivian Cheruiyot', 'Kenya', '11-09-1983', 33.0, 'Tirunesh Dibaba', 'Ethiopia', '01-06-1985', 31.0)
('10,000 metres', '2020', 'Tokyo', 'Sifan Hassan', 'Netherlands', '01-01-1993', 27.0, 'Kalkidan Gezahegne', 'Bahrain', '08-05-1991', 29.0, 'Letesenbet Gidey', 'Ethiopia', '20-03-1998', 22.0)
('Marathon', '1984', 'Los Angeles', 'Joan Benoit', 'United States', '16-05-1957', 27.0, 'Grete Waitz', 'Norway', '01-10-1953', 31.0, 'Rosa Mota', 'Portugal', '29-06-1958', 26.0)
('Marathon', '1988', 'Seoul', 'Rosa Mota', 'Portugal', '29-06-1958', 30.0, 'Lisa Martin', 'Australia', '12-05-1960', 28.0, 'Katrin Dörre', 'East Germany', 'No data', None)
('Marathon', '1992', 'Barcelona', 'Valentina Yegorova', 'Unified Team', 'No data', None, 'Yuko Arimori', 'Japan', '17-12-1966', 26.0, 'Lorraine Moller', 'New Zealand', '01-06-1955', 37.0)